.submit{
    border-radius: 30px;
    width: 100%;
    padding: 10px;
    background-color: rgb(250, 42, 188);
    border: none;
    margin-top: 20px;
}
.sign{
    background-color:rgb(123, 72, 150);
    height: 1000px;
}
.bx{
    background-color:rgb(46, 13, 64);
    padding: 20px 50px;
    color:white;
     
}
