<div class="Sign-up">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div class="bx ">
          <p class="text-center"><i class="fa fa-envelope" aria-hidden="true"></i> Sign-up </p>
          <form [formGroup]="Task" (ngSubmit)="loggin(Task.value)" autocomplete="off">
            <div class="form-group">
              <label class="col-form-label">UserName</label>
              <input formControlName="username" type="text" placeholder="UserName" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.username.errors }">
              <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">UserName is required</div>
                <div *ngIf="f.username.errors.email">UserName must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">Email</label>
              <input formControlName="email" type="text" placeholder="Email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                <div *ngIf="f.email.errors.required">email is required</div>
                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-form-label">password</label>
              <input formControlName="password" type="text" placeholder="password" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">password is required</div>
                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
              </div>
            </div>
            <button type="submit" class="submit">Register</button>
            <p class="text-center pt-5"><i class="fa fa-lock" aria-hidden="true"></i><a routerLink="/login">
                Sign-in </a></p>
          </form>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>